---
slug: /
---

{% assign zmiennaZWidoku = "wartoscZmiennejZWidoku" %}
<h1>

  My Initial page

</h1>

<p>

  zmiennaZWidoku =>  {{ zmiennaZWidoku }} </br>
  zmiennaZLayoutu => {{ zmiennaZLayoutu }}

</p>

<div class="content">
 <div class="header">
   <h1> HEJ </h1>
   Some content
 </div>
</div>
