---
slug: /
---

{% assign zmiennaZWidoku = "wartoscZmiennejZWidoku" %}
<h1>

  My Initial page

</h1>

<p>

  zmiennaZWidoku =>  {{ zmiennaZWidoku }} </br>
  zmiennaZLayoutu => {{ zmiennaZLayoutu }}

</p>
